<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Saque</h1>
	
	<div id="select1">
		<select name="cliente" id="select_cliente" >
			<option selected="selected">-----</option>
			{% for cliente in clientes_list %}
			<option value={{cliente.cpf}}>{{cliente.nome}}</option>
			{% endfor %}
		</select>
	</div>
	</div>
</body>
</html>