<div id="page-bottom-content">
	<h3>Banco Comunitário Tamanduá</h3>
	<p>Sistema desenvolvido por alunos do curso de Sistemas de Informação da Universidade Federal de Itajubá. Com a criação da empresa NeoTI Consultoria e Sistema Ltda.</p>
	<p>Para maiores informações acessem <a href="#">www.neoti.com.br</a></p>
	<img src="images/neo.png">
	<p>Rua BPS, 1020, Bloco C</p>
	<p>CEP: 37500-000 Itajubá – MG</p>
	<p>Telefone: +55 (35) 3546-9987</p>
	</p>
</div>
<div id="page-bottom-sidebar">
	<h3>Sobre os Autores</h3>
	<ul class="list">
		<li><a href="autores.php">André Mack Nardy</a></li>
		<li><a href="autores.php">Douglas William de Lima</a></li>
		<li><a href="autores.php">Hipólito Douglas</a></li>
		<li><a href="autores.php">Matheus Mendes</a></li>
		<li><a href="autores.php">Tiago Miranda</a></li>
	</ul>
</div>
<br class="clearfix" />
