<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Big Business
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120210
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Banco Tamanduá</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Banco Tamanduá</a></h1>
		</div>
		<div id="slogan">
			<img src="images/logo.png">
		</div>
	</div>
	<div id="menu">
		<ul>
			<li class="first current_page_item"><a href="#">Home</a></li>
			<li><a href="#">Agência</a></li>
			<li><a href="#">Empréstimo</a></li>
			<li><a href="#">Serviços</a></li>
			<li><a href="#">Voluntários</a></li>
			<li class="last"><a href="#">Contato</a></li>
		</ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="images/pic01.jpg" />
	</div>
	<div id="page">
		<div id="content">
			<div class="box">
				<h2>Banco Tamanduá??</h2>
				<p>O Banco Tamanduá tem características de ser um banco comunitário. Segundo Lieater: "Trata-se de um acordo entre pessoas de uma mesma comunidade para o uso de uma moeda coexistente com a nacional como meio de pagamento local".</p>
				<p>Portanto, o Banco Tamanduá visa integrar financeiramente uma comunidade carente, podendo ser expandido para demais. As nossas características básicas são: são criados a partir da iniciativa da própria comunidade; realizam empréstimos tanto em reais quanto em moeda social; atuam em locais marcados por pobreza e desigualdade social; têm sua sustentabilidade financeira garantida por financiamentos, subsídios e/ou doações, sejam elas do setor público ou do privado.</p>
			</div>
			<div class="box" id="content-box1">
				<h3>Onde Estamos?</h3>
				<ul class="section-list">
					<li>
						<img class="pic alignleft" src="images/itajuba.jpg" width="70" height="70" alt="" />
						<span>Rua sei lá o que, nº 456 Bairro: X Itajubá/MG</span>
					</li>
					<li>
						<img class="pic alignleft" src="images/pousoalegre.jpg" width="70" height="70" alt="" />
						<span>Rua sei lá o que, nº 456 Bairro: X Pouso Alegre/MG</span>
					</li>
					<li>
						<img class="pic alignleft" src="images/santarita.jpg" width="70" height="70" alt="" />
						<span>Rua sei lá o que, nº 456 Bairro: X Santa Rita do Sapucaí/MG</span>
					</li>
				</ul>
			</div>
			<br class="clearfix" />
		</div>
		<div id="sidebar">
			<div class="box">
				<h3>Login</h3>
				<input type="text">
				<input type="text">
				<input type="submit"><p></p>
			<div class="box">
				<h3>Realização</h3>
				<div class="realizacao">
					<p><img src="images/efei.jpg"></p>
					<p><img src="images/sin.png"></p>
					<p><img src="images/palmas.jpg"></p>
					<p><img src="images/bancobrasil.jpg"></p>
				</div>
			</div>
			</div>
		</div>
		<br class="clearfix" />
	</div>
	<div id="page-bottom">
		<div id="page-bottom-content">
			<h3>Banco Comunitário Tamanduá</h3>
			<p>Sistema desenvolvido por alunos do curso de Sistemas de Informação da Universidade Federal de Itajubá. Com a criação da empresa NeoTI Consultoria e Sistema Ltda.</p>
			<p>Para maiores informações acessem <a href="#">www.neoti.com.br</a></p>
				<img src="images/neo.png">
				<p>Rua BPS, 1020, Bloco C</p>
				<p>CEP: 37500-000 Itajubá – MG</p>
				<p>Telefone: +55 (35) 3546-9987</p>
			</p>
		</div>
		<div id="page-bottom-sidebar">
			<h3>Sobre os Autores</h3>
			<ul class="list">
				<li><a href="#">André Mack Nardy</a></li>
				<li><a href="#">Douglas William de Lima</a></li>
				<li><a href="#">Hipólito Douglas</a></li>
				<li><a href="#">Matheus Mendes</a></li>
				<li><a href="#">Tiago Miranda</a></li>
			</ul>
		</div>
		<br class="clearfix" />
	</div>
</div>
<div id="footer">
	Copyright (c) 2012 bct.org. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.
</div>
</body>
</html>
